reflex

psycopg2-binary

python-dotenv

pydantic


# pyjwt 
# passlib 
# bcrypt

reflex-local-auth

pillow
qrcode
python-alipay-sdk

# weread 
notion-client
weread2notionpro
# github-hotmap
requests
retrying
pendulum

python-dateutil